
/* general styles */

html,
body {
  height: 100%;
  width: 100%;
}

/* padded section */

.pad-section { padding: 50px 0; }

.pad-section img { width: 100%; }

/* vertical-centered text */

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */

#box1 {
  background: #fff;
  color: black;
  display: table;
  height: auto;
  width: 100%;
}

#box2 {
  background-color: #fff;
  color: Black;
  height: 100%;
}

#box3 {
  background-color: #182C3C;
  color: white;
  height: 100%;
}

footer {
  padding: 20px 0; 
}

footer .glyphicon {
  color: #333333;
  font-size: 60px;
}

footer .glyphicon:hover { color: #EE2E24; }

.goToTop {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}

nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
}

nav li { background: #fff; }
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}
    @media (min-width: 768px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
        }
        
        .navbar .navbar-collapse {
            text-align: center;
        }
    }

/* Footer */
#menu_bawah_wrap {
  background: #FFF; 
  margin-bottom:30px;
  padding-top:0;
  width:100%;
  position:fixed;
  z-index:1;
  bottom:0;
  border-top:1px dashed #CCCCCC;
}
#menu_bawah {
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width:100%;
}
#bawah {
  background: #FFF url('../images/motif-footer.png') repeat 0 0; 
  margin-bottom:0;
  padding-top:30px;
  width:100%;
  position:fixed;
  z-index:1;
  bottom:0;
}
.mainlevel-menubawah {
  text-align:center;
  padding:0px 5px;
}

#footer1 {
  background: #FFF;  
  height:10px;
  display:block;
  
  z-index:1;
  bottom:0px;
}

#footer_wrap1 {
  width:100%;
  background: #FFF; 
  height:10px;
  display:block;
  z-index:1;
  bottom:0px;
}
